html, body {
    height: 100%;
    width: 100%;
    margin: 0;

}

.main_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.something {
    background: #e2e2e2;
    height: 500px;
}