html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 800px;
}

.main_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editable_table {
    width: 800px;
    border-collapse: collapse;
    table-layout: fixed;
}

table.editable_table tr td {
    border: 1px solid #e2e2e2;
    padding: 10px;
}

table.editable_table tr td:focus {
    background: cornsilk;
}

.table_editor {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 9px;
}

.bor_hover {
    background: gray;
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
}

.hor_hover {
    min-height: 1px;
    width: 100%;
}

.ver_hover {
    min-width: 1px;
    height: 100%;
}

.table_wrapper {
    position: relative;
}

.cell {
    padding: 10px;
}

.inputField {
    outline: none;
}