/* tcm - project's prefix*/

.tcm-border-menu__add-button {
    height: 19px;
    width: 19px;
}

.tcm-border-menu {
    background: #368be6;
}

.tcm-border-menu--hidden {
    visibility: hidden;
}

.tcm-border-menu--horizontal {
    width: 100%;
    height: 19px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 0px;
    top: 1px;
}

.tcm-border-menu__1pxline--horizontal {
    min-height: 1px;
    width: 100%;
    margin-right: 10px;
}

.tcm-border-menu--vertical {
    height: 100%;
    width: 21px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: -1px;
}

.tcm-border-menu__1pxline--vertical {
    min-width: 1px;
    height: 100%;
    margin-bottom: 10px;
}