.hb-hor_wrapper {
    width: 100%;
    height: 21px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 0px;
}

.hb-hor {
    min-height: 1px;
    width: 100%;
    margin-right: 10px;
}
