@import "TableGenerator.css";
@import "Border.css";
@import "HorBorder.css";
@import "VerBorder.css";

.editable_table {
    width: 800px;
    border-collapse: collapse;
    table-layout: fixed;
}

.table_editor {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
    background: bisque;
}