/* TCM - project's prefix*/

.tcm-editable-table__cell {
    padding: 10px;
    border: 1px solid #e2e2e2;
}

.tcm-editable-table__input-field {
    outline: none;
    width: 100%;
    height: 100%;
}

.tcm-editable-table__cell--focus {
    background: cornsilk;
}

.tcm-editable-table {
    border-collapse: collapse;
    table-layout: fixed;
}