@import "TableGenerator.css";

.editable_table {
    width: 800px;
    border-collapse: collapse;
    table-layout: fixed;
}

table.editable_table tr td {
    border: 1px solid #e2e2e2;
    padding: 10px;
}

table.editable_table tr td:focus {
    background: cornsilk;
}

.table_editor {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 9px;
    margin-left: 12px;
}

.bor {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
}

.bor_hover {
    background: gray;
}

.bor_active {
    background: #368be6;
}

.hor_hover, .hor_active {
    min-height: 1px;
    width: 100%;
}

.ver_hover, .ver_active {
    min-width: 1px;
    height: 100%;
}

.table_wrapper {
    position: relative;
}

.add_button {
    position: absolute;
    visibility: hidden;
    height: 15px;
    width: 15px;
}