/* TCM - project's prefix*/

@import "tableGenerator.css";
@import "borderMenu.css";
@import "horizontalBorderMenu.css";
@import "verticalBorder.css";

.TCM-editable-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.TCM-table-editor {
    min-width: 50px;
    min-height: 50px;
    box-sizing: border-box;
    padding: 10px 10px 11px;
    position: relative;
}