@import "TableGenerator.css";
@import "Border.css";
@import "HorBorder.css";
@import "VerBorder.css";

.editable_table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table_editor {
    min-width: 50px;
    min-height: 50px;
    box-sizing: border-box;
    padding: 10px 10px 11px;
    position: relative;
}