/* TCM - project's prefix*/

.TCM-border-menu--vertical {
    height: 100%;
    width: 21px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
}

.TCM-border-menu__1pxline--vertical {
    min-width: 1px;
    height: 100%;
    margin-bottom: 10px;
}