/* TCM - project's prefix*/

.TCM__border-menu_vertical {
    height: 100%;
    width: 21px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
}

.TCM__border-menu__1pxline_vertical {
    min-width: 1px;
    height: 100%;
    margin-bottom: 10px;
}